PORT=3000
NODE_ENV=development

# Base URL of the target streaming site
TARGET_BASE_URL=https://net22.cc

# Optional: Set this if you want to use a specific chromium binary path instead of puppeteer's default
# PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome-stable
